name: simple ci

on:
  push:
    branches:
      -main
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      -name: checkout code
       uses: actions/checkout@3

      -name: Install Dependencies
       run: npm install

      -name: run Application
       run: node index.js
